<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EntregaRapida</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style_Pagina_Lojista.css">

</head>
<body>
      <header>
        <!-- Logo -->
        <div id="logo" >
            <a  asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.png" alt="Logo">
            </a>
        </div>
        <!-- Botão de sair -->
        <div id="sair">
            @await Html.PartialAsync("_LoginPartial")
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-light" asp-area="" asp-controller="Entregador" asp-action="Index">IndexEntregador</a>
                        </li>
                    </ul>
                </div>
        </div>
            
    </header>
          
            


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

           
        </main>
    </div>
    <footer>
        <!-- Rodapé -->
        <div id="rodape1">Rodapé 1</div>
        <div id="rodape2">Rodapé 2</div>
        <div id="rodape3">Rodapé 3</div>
    </footer>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
