<!DOCTYPE html>
<html>
<head>
    <title>Minha Página</title>
    <link rel="stylesheet" type="text/css" href="style_Pagina_Lojista.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <div id="logo">
            <img src="img/logo.png" alt="Logo">
        </div>
        <!-- Botão de sair -->
        <div id="sair">
            <button>Sair</button>
        </div>
    </header>
    <div id="content">
        <div id="user-menu">
            <!-- Espaço para imagem e nome do usuário -->
            <div id="user-info">
                <!-- Imagem do usuário -->
                <img src="img/usuario/1.jpeg" alt="Usuário" id="user-image">
                <!-- Nome do usuário -->
                <ul>
                    <div><h3 id="user-name">LOJA SUPER 10</h3></div>
                    <div><h3 id="user-loja">Loja de roupa</h3></div>
                </ul>
            </div>
            <!-- Menu lateral -->
            <nav id="menu">
                <ul>
                    <li id="font"><a href="#">CADASTRAR NOVA ENTREGA</a></li>
                    <li id="font"><a href="#">MINHAS ENTREGAS</a></li>
                    <li id="font"><a href="#">MEUS DADOS</a></li>
                </ul>
            </nav>
        </div>
        <div id="dash-feed">
            <!-- Dashboards -->
            <div id="dashboard-container">
                <!-- Dashboard 1 -->
                <div class="dashboard">Dashboard 1</div>
                <!-- Dashboard 2 -->
                <div class="dashboard">Dashboard 2</div>
                <!-- Dashboard 3 -->
                <div class="dashboard">Dashboard 3</div>
                <!-- Dashboard 4 -->
                <div class="dashboard">Dashboard 4</div>
            </div>
            <!-- Feed de pedidos -->
            <div id="feed">
                <h3>PEDIDOS</h3>
            </div>
        </div>
        <!-- Exibição dos usuários online -->
        <div id="delivery-status">
            <h3>ENTREGADORES ONLINE</h3>
        </div>
    </div>
    <footer>
        <!-- Rodapé -->
        <div id="rodape1">Rodapé 1</div>
        <div id="rodape2">Rodapé 2</div>
        <div id="rodape3">Rodapé 3</div>
    </footer>
</body>
</html>