@model EntregaRapida.ViewModel.RegistroLojistaViewModel;


<h2>Cadastre-se como lojista</h2>

<form method="post" asp-controller="RegistroLojista" asp-action="CadastroLojista">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="NomeComercio" class="control-label"></label>
        <input asp-for="NomeComercio" class="form-control" />
        <span asp-validation-for="NomeComercio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Endereco" class="control-label"></label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone" class="control-label"></label>
        <input asp-for="Telefone" class="form-control" placeholder="(00) 0000-0000"/>
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CNPJ" class="control-label"></label>
        <input asp-for="CNPJ" class="form-control" placeholder="00.000.000/0000-00"  />
        <span asp-validation-for="CNPJ" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TipoComercio" class="control-label"></label>
        @Html.DropDownListFor(model=>model.TipoComercio,new
        SelectList(Enum.GetValues(typeof(EntregaRapida.Models.Enum.TipoComercio))))
    </div>
     <div class="form-group">
        <label asp-for="NomeUsuario" class="control-label"></label>
        <input asp-for="NomeUsuario" class="form-control" />
        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
   <div class="form-group">
        <label asp-for="EmailConfirmed" class="control-label"></label>
        <input asp-for="EmailConfirmed" class="form-control" />
        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
    </div>
      <div class="form-group">
        <label asp-for="Senha" class="control-label"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Senhaconfirmar" class="control-label"></label>
        <input asp-for="Senhaconfirmar" class="form-control" />
        <span asp-validation-for="Senhaconfirmar" class="text-danger"></span>
    </div>

      <div class="form-group">
        <input asp-for="PlataformaId" class="form-control" value="1" type="hidden"/>
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>
</form>

 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}