
  <style>
    body {
      text-align: center;
   
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #337ab7;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      margin: 10px;
    }
  </style>


<body>
  <h1>Bem-vindo!</h1>
  <p>Escolha uma opção para se registrar:</p>

   <a class="nav-link btn btn-link py-0" asp-controller="RegistroEntregador" asp-action="CadastroEntregadorUsers" style="color:black">Entregador</a>
      <a class="nav-link btn btn-link py-0" asp-controller="RegistroLojista" asp-action="Cadastro" style="color:black">Lojista</a>
</body>
