<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EntregaRapida</title>
    <link rel="shortcut icon" href="~/LayoutLojista/img/svg/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EntregaRapida.styles.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/LayoutLojista/css/style.css">
    <link href="~/colorlib-regform-4/css/main.css" rel="stylesheet" media="all">
</head>

<body class="d-flex justify-content-center align-items-center"  >
 
    <style>
  body {
    height: 100%;
    margin: 0;
    
}
.footer-basic {
   
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Cor de fundo do footer, ajuste conforme necessário */
    color: white; /* Cor do texto do footer, ajuste conforme necessário */
    padding: 10px; /* Espaçamento interno do footer, ajuste conforme necessário */
}
header {
    position: fixed;
    top: 0;
    width: 100%; /* Cor de fundo do header, ajuste conforme necessário */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave, ajuste conforme necessário */
}
    
    
}
    </style>

    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent container-fluid">
            <div class="container-fluid navbar-container d-flex justify-content-center  d-flex align-items-center">
                <a class="navbar-brand " asp-controller="Home" asp-action="Index">
                </a>
                <button class="navbar-toggler m-3 p-3 animate__animated animate__flip" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                      <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z"/>
                      <path d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between  ">
                    <ul class="navbar-nav flex-grow-1 ">
                      
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container " style="height:auto;display:flex;align-items:center;justify-content:center">
        <main role="main">
            @RenderBody()
        </main>

    </div>
    <footer class="bg-dark text-center text-white footer-basic" >
        <div class="social">
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
        <p class="copyright">Entrega Rapida © 2023 </p>
    </footer>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
