@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> Usermaneger;

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style_Configuracoes_estilo_da_pagina.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<!-- Verifica se tem alguém logado -->
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Login" asp-action="Logout" method="post" class="navbar-left">
      <div class="d-flex align-items-center justify-content-center">
        <ul class="nav navbar-nav navbar-left">
            <button type="submit" style="color:black;font-size:20px" class=" nav-link btn btn-link py-0  col-sm-auto">
                Desconectar
            </button>
        </ul>
        </div>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <a class="nav-link btn btn-link py-0" asp-controller="Account" asp-action="Login" style="color:#fff;font-size:20px">Login</a>
        <a class="nav-link btn btn-link py-0" asp-controller="Account" asp-action="Register" style="color:#fff;font-size:20px">Registro</a>
    </ul>
}

<!-- Verifica qual a identidade do cara logado, lojista ou entregador -->
@if (User.Identity.IsAuthenticated)
{
    var usuario = await Usermaneger.FindByNameAsync(User.Identity.Name);
    var roles = await Usermaneger.GetRolesAsync(usuario);
    if (roles.Contains("Lojista"))
    {
        <div class="d-flex align-items-center justify-content-center">
            <ul class="nav navbar-nav navbar-right">
                <a class="nav-link py-0 " style="color:black;font-size:20px" asp-controller="Comerciante" asp-action="Index" asp-area="Comerciante">
                    <i class="bi bi-truck"></i> Logística
                </a>
            </ul>
        </div>
    }
    else if (roles.Contains("Entregador"))
    {
        <div class="d-flex align-items-center justify-content-center">
            <ul class="nav navbar-nav navbar-left">
                <a class="nav-link btn btn-link py-0  col-sm-auto" style="color:black;font-size:20px" asp-controller="Entregador" asp-action="Index" asp-area="Entregador">
                    <i class="bi bi-bag-check"></i> Delivery
                </a>
            </ul>
        </div>
    }
}