@using EntregaRapida.Models
@using EntregaRapida.Models.Enum
@model List<Pedido>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css" />

<!-- <a class="nav-link btn btn-link py-0" asp-controller="" asp-action="" style="color:black">Historico de Entregas</a>
<a class="nav-link btn btn-link py-0" asp-controller="" asp-action="" style="color:black">Meus Dados</a>
-->



@section script{
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/entregadorHub").build();

            connection.on("solicitacaoAceita", function(mensagem) {
          Swal.fire({
            title: 'Solicitação Aceita!',
            text: mensagem,
            imageUrl: 'https://www.androidplanet.nl/wp-content/uploads/2022/08/google-maps-android-tips-uitgelicht.jpg',
            imageWidth: 500,
            imageHeight: 200,
            imageAlt: 'Custom image',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim'
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Iniciando corrida !!',
                showConfirmButton: false,
                timer: 1500
              });
      
              console.log("TESTANDO AJAX!!"); // Colocar o console.log aqui

              $.ajax({
                url: '@Url.Action("IndexCorridaEntregador", "CorridaEntregador", new { area = "Entregador" })',
                type: 'GET',
                success: function(response) {
                  window.location.href = response.redirectUrl;
                 console.log(response.redirectUrl)
                },
                error: function(xhr, status, error) {
                  console.log(error);
                }
              });
            }
          });
        });


        connection.on("ReceberPedido", function (pedido) {

            var container = document.getElementById("pedidos-container");

            var card = document.createElement("div");
            card.classList.add("card", "text-center", "mt-4");

            var cardHeader = document.createElement("div");
            cardHeader.classList.add("card-header");
            cardHeader.textContent = "Pedido #: " + pedido.pedidoId;

            var cardBody = document.createElement("div");
            cardBody.classList.add("card-body");

            var cardTitle = document.createElement("h5");
            cardTitle.classList.add("card-title");
            cardTitle.textContent = pedido.descricao;

            //nome Lojista
            var LojistaNome = document.createElement("h5");
            LojistaNome.classList.add("card-text");
            LojistaNome.textContent = "Comerciante: " + pedido.lojistaNome;

            //Endereço do cliente
            var enderecoDestino = document.createElement("h5");
            enderecoDestino.classList.add("card-text");
            enderecoDestino.textContent = "Endereço de Destino: " + pedido.enderecoDestino;

            var enderecoOrigem = document.createElement("h5");
            enderecoOrigem.classList.add("card-text");
            enderecoOrigem.textContent = "Endereço do Lojista: " + pedido.enderecoOrigem;

            var distancia = document.createElement("h5");
            distancia.classList.add("card-text");
            distancia.textContent = pedido.distancia+"Km";


            var controller = "EntregarPedidoController"
            var action = "Entregar"
            var area = "Entregador"
        //  var Id = pedido.pedidoId;
        //  var url = "/" + controller + "/" + action +"/"+ Id;
        //  btnEntregar.setAttribute("href",url);
            var btnEntregar = document.createElement("a");
            btnEntregar.classList.add("btn", "btn-success");
            btnEntregar.textContent = "Entregar";
            console.log(pedido.contextId);
            console.log(pedido.pedidoId);

            btnEntregar.onclick = function() {
                atribuirEntregadorAoPedido(pedido.pedidoId,pedido.contextId);

            };

             function atribuirEntregadorAoPedido(pedidoId, contextId) {
                  $.ajax({
                    url: '@Url.Action("SolicitarEntrega", "EntregarPedido", new { area = "Entregador", pedidoId = "__pedidoId__",lojistaId = "__lojistaId__" })'.replace('__pedidoId__', pedidoId).replace('__lojistaId__', contextId),
                    type: 'POST',
                    success: function(result) {
                      // Lógica para tratar a resposta do servidor, se necessário
                      // Por exemplo, atualizar a página ou exibir uma mensagem de sucesso
                      console.log(result);
                      var pedidoId = pedido.pedidoId;
                      var entregador = result;
                      var msg = "Entregador " + entregador + " solicitou a entrega do Pedido: #" + pedidoId;
                      var lojistacontextId = pedido.contextId;

                      console.log(typeof pedidoId);
                      console.log(pedidoId + " Id do pedido");
                      console.log("Nome do zé ruela: " + entregador);
                      console.log(msg);
                      console.log(lojistacontextId + " Id do lojista");
                      connection.invoke("EnviarSolicitacaoEntrega", entregador, lojistacontextId, msg, pedidoId);

                      Swal.fire({
                        title: 'Solicitação de entrega enviada!',
                        text: 'Aguarde o comerciante confirmar',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                      }).then(function() {
                        //location.reload(true); //da um refreshe na pagina
                      });
                    },
                    error: function(xhr, status, error) {
                      console.log(xhr.status);
                      if (xhr.status === 406) {
                        Swal.fire({
                          title: 'Você já solicitou a entrega!',
                          text: 'Sua solicitação já chegou ao comerciante. Aguarde até que ele aceite.',
                          icon: 'warning',
                          confirmButtonColor: '#3085d6',
                          confirmButtonText: 'OK'
                        });
                     }
                     }
                  });
                };


            cardBody.appendChild(cardTitle);
            cardBody.appendChild(LojistaNome);
            cardBody.appendChild(enderecoDestino);
            cardBody.appendChild(enderecoOrigem);
            cardBody.appendChild(distancia);
            cardBody.appendChild(btnEntregar);

            var cardFooter = document.createElement("div");
            cardFooter.classList.add("card-footer", "text-muted");
            var datamodel = pedido.date;
            var data = moment(datamodel).format("DD/MM/YYYY");
            var datahora = moment(pedido.date).hour();
            var hora = moment(pedido.date).format("HH:mm");


                if (datahora >= 6 && datahora < 12  ){
                cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Manhã";
                }else if (datahora >= 12 && datahora < 18){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Tarde ";
                }else if (datahora >= 18 && datahora < 24){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Noite ";
                }else if (datahora >= 0 && datahora < 6){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Madrugada ";
                }
                else{
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " Horario invalido! ";
                }


            card.appendChild(cardHeader);
            card.appendChild(cardBody);
            card.appendChild(cardFooter);

            container.appendChild(card);

        });

        connection.on("ReceberPedidosPendentes", function (pedidosPendentes) {
            var container = document.getElementById("pedidos-container");

            container.innerHTML = ""; // Limpar o conteúdo anterior

            pedidosPendentes.forEach(function (pedido) {


                var card = document.createElement("div");
                card.classList.add("card", "text-center", "mt-4");

                var cardHeader = document.createElement("div");
                cardHeader.classList.add("card-header");
                cardHeader.textContent = "Pedido #: " + pedido.pedidoId;

                var cardBody = document.createElement("div");
                cardBody.classList.add("card-body");

                var cardTitle = document.createElement("h5");
                cardTitle.classList.add("card-title");
                cardTitle.textContent = pedido.descricao;

                //NOME DO LOJISTA
                var lojistaNome = document.createElement("h5");
                lojistaNome.classList.add("card-text");
                lojistaNome.textContent = "Comerciante: " + pedido.lojistaNome;

                //Endereço do cleinte
                var endDestino = document.createElement("h5");
                endDestino.classList.add("card-text");
                endDestino.textContent = "Endereço de Destino: " + pedido.enderecoDestino;

                var endOrigem = document.createElement("h5");
                endOrigem.classList.add("card-text");
                endOrigem.textContent = "Endereço do Lojista: " + pedido.enderecoOrigem;

                var distancia = document.createElement("h5");
                distancia.classList.add("card-text");
                distancia.textContent = pedido.distancia+"Km";

                //BOTAO
                var controller = "EntregarPedidoController"
                var action = "Entregar"
                var area = "Entregador"
            //    var Id = pedido.pedidoId;
            //    var url = "/" + controller + "/" + action +"/"+ Id;
            //   btnEntregar.setAttribute("href",url);
                var btnEntregar = document.createElement("a");
                btnEntregar.classList.add("btn", "btn-success");
                btnEntregar.textContent = "Entregar";
                console.log(pedido.contextId);
                console.log(pedido.pedidoId);
                btnEntregar.onclick = function() {
                atribuirEntregadorAoPedido(pedido.pedidoId,pedido.contextId);

            };

            //solicita entrega
                  function atribuirEntregadorAoPedido(pedidoId, contextId) {
                  $.ajax({
                    url: '@Url.Action("SolicitarEntrega", "EntregarPedido", new { area = "Entregador", pedidoId = "__pedidoId__",lojistaId = "__lojistaId__" })'.replace('__pedidoId__', pedidoId).replace('__lojistaId__', contextId),
                    type: 'POST',
                    success: function(result) {
                      // Lógica para tratar a resposta do servidor, se necessário
                      // Por exemplo, atualizar a página ou exibir uma mensagem de sucesso
                      console.log(result);
                      var pedidoId = pedido.pedidoId;
                      var entregador = result;
                      var msg = "Entregador " + entregador + " solicitou a entrega do Pedido: #" + pedidoId;
                      var lojistacontextId = pedido.contextId;

                      console.log(typeof pedidoId);
                      console.log(pedidoId + " Id do pedido");
                      console.log("Nome do zé ruela: " + entregador);
                      console.log(msg);
                      console.log(lojistacontextId + " Id do lojista");
                      connection.invoke("EnviarSolicitacaoEntrega", entregador, lojistacontextId, msg, pedidoId);

                      Swal.fire({
                        title: 'Solicitação de entrega enviada!',
                        text: 'Aguarde o comerciante confirmar',
                        icon: 'warning',
                        confirmButtonText: 'OK'
                      }).then(function() {
                        //location.reload(true); //da um refreshe na pagina
                      });
                    },
                    error: function(xhr, status, error) {
                      console.log(xhr.status);
                      if (xhr.status === 406) {
                        Swal.fire({
                          title: 'Você já solicitou a entrega!',
                          text: 'Sua solicitação já chegou ao comerciante. Aguarde até que ele aceite.',
                          icon: 'warning',
                          confirmButtonColor: '#3085d6',
                          confirmButtonText: 'OK'
                        });
                     }
                     }
                  });
                };





                var cardFooter = document.createElement("div");
                cardFooter.classList.add("card-footer", "text-muted");

                var datamodel = pedido.date;

                var data = moment(datamodel).format("DD/MM/YYYY");

                var datahora = moment(pedido.date).hour();

                var hora = moment(pedido.date).format("HH:mm");


                if (datahora >= 6 && datahora < 12  ){
                cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Manhã";
                }else if (datahora >= 12 && datahora < 18){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Tarde ";
                }else if (datahora >= 18 && datahora < 24){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Noite ";
                }else if (datahora >= 0 && datahora < 6){
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " da Madrugada ";
                }
                else{
                    cardFooter.textContent = "Data: "+ data + " | Horario de lançamento "+ hora + " Horario invalido! ";
                }

                //Titulo Pedido
                cardBody.appendChild(cardTitle);
                //Nome do lojista
                cardBody.appendChild(lojistaNome);
                //Endereço do cliente
                cardBody.appendChild(endDestino);
                //Endereço do lojista
                cardBody.appendChild(endOrigem);
                //distancia
                cardBody.appendChild(distancia);
                //botao
                cardBody.appendChild(btnEntregar);
                card.appendChild(cardHeader);
                card.appendChild(cardBody);
                card.appendChild(cardFooter);

                container.appendChild(card);

              // window.scrollTo(0, document.body.scrollHeight);
            });
        });

        connection.start().then(function () {
            connection.invoke("ObterPedidosPendentes");


        }).catch(function (err) {
            console.error(err.toString());
        });
    });
</script>


}