/* Estilo geral */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5100;
    padding: 10px;
}

#content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    padding: 10px;
}

#logo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#sair {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
}

#user-info {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
}

#user-image {
    width: 80px;
    height: 80px;
}

#user-name {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#user-loja {
    margin-left: 10px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#dashboard-container {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    padding: 10px;
}

.dashboard {
    background-color: lightgray;
    padding: 10px;
}

#feed {
    height: 100%;
    border-radius: 10px;
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
    background-color: lightgray;
    padding: 10px;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

#delivery-status {
    height: auto;
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    background-color: lightgray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    border-radius: 10px;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .button-orange {
    background-color: #ff5100;
    color: white;
    }
    
    .button-gray {
    background-color: gray;
    color: white;
    }
    
    /* Estilo dos botões do menu */
    #menu ul li a {
    display: block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    }
    
    #menu ul li:first-child a {
    background-color: #ff5100;
    }
    
    #menu ul li:not(:first-child) a {
    background-color: gray;
    }
    
    #menu ul li a:hover {
    background-color: darkgray;
    }
.footer-basic {
    padding: 20px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    width: 100%;
}

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        .footer-basic ul a:hover {
            opacity: 1;
        }

    .footer-basic .social {
        text-align: center;
        padding-bottom: 10px;
    }

        .footer-basic .social > a {
            font-size: 18px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 6px;
            color: #FF5100; /* Definir a cor dos ícones como laranja */
            opacity: 0.75; /* Ajustar a opacidade dos ícones */
        }

            .footer-basic .social > a:hover {
                opacity: 0.9;
            }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
#font{
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    font-size: 12pt;   
}