<!DOCTYPE html>

<html lang ="pt-br">
   <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]EntregaRapida</title>
    <link rel="shortcut icon" href="~/LayoutLojista/img/svg/Logo.svg" type="image/x-icon">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/botstrapicon/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style_Pagina_Lojista.css">
    <link rel="stylesheet" type="text/css" href="~/LayoutLojista/css/style.css">
    <link rel="stylesheet" href="~/css/style_signalBotoes.css">
</head>

<body class="d-flex justify-content-between">

    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
        <!-- ! Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-start">
                <div class="sidebar-head">
                    <a href="/home/index" class="logo-wrapper" title="Home">
                        <span class="sr-only">Home</span>
                        <span class="icon logo" aria-hidden="true"></span>
                    </a>
                    <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                        <span class="sr-only">Toggle menu</span>
                        <span class="icon menu-toggle" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="sidebar-body">
                    <ul class="sidebar-body-menu">
                        <li>
                            <a>
                                <span class="icon notification " arial-hidden="true"></span>
                                <p class="sidebar-user__title2"> Bem vindo @User.Identity.Name<p>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Entregador" asp-action="Index" asp-area="Entregador">
                                <span class="icon setting" aria-hidden="true"></span>
                                Pedidos
                            </a>
                        </li>
                        <li>
                            <a class="show-cat-btn" href="##">
                                <span class="icon user-3" aria-hidden="true"></span>Flux de entregas
                                <span class="category__btn transparent-btn" title="Open list">
                                    <span class="sr-only">Abrir lista</span>
                                    <span class="icon arrow-down" aria-hidden="true"></span>
                                </span>
                            </a>
                            <ul class="cat-sub-menu">
                                <li>
                                    <a>Perfil</a>
                                </li>
                                <li>
                                    <a>Dados de entrega</a>
                                </li>
                                <li>
                                    <a>Fluxo de caixa</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </aside>
        <div class="main-wrapper">
            <!-- ! Main nav -->
            <nav class="main-nav--bg">
                <div class="container main-nav">
                    <div class="main-nav-start main-nav--bg">
                        <span id="user-loja" class="nav-user sidebar-user__title" aria-hidden="true" style="padding:5px;">Meu perfil</span>
                    </div>
                    <div class="main-nav-end">
                        <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                            <span class="sr-only">Toggle menu</span>
                            <span class="icon menu-toggle--gray" aria-hidden="true"></span>
                        </button>
                        <button class="theme-switcher gray-circle-btn" type="button" title="Tema da Pagina">
                            <span class="sr-only">Switch theme</span>
                            <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                            <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
                        </button>
                        <div class="nav-user-wrapper">

                            <button href="##" class="nav-user-btn dropdown-btn" title="Perfil" type="button">
                                <span class="sr-only">Meu perfil</span>
                                <span class="nav-user-img">
                                    <picture><source srcset="~/LayoutLojista/img/avatar/avatar-illustrated-02.webp" type="image/webp"><img src="~/LayoutLojista/img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
                                </span>
                            </button>
                            <ul class="users-item-dropdown nav-user-dropdown dropdown">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="javascript:void(0)" onclick="document.getElementById('frmLogout').submit()">
                                            <i data-feather="log-out" aria-hidden="true"></i>
                                            <span>Desconectar</span>
                                        </a>
                                        <form id="frmLogout" asp-controller="Login" asp-action="Logout" method="post" hidden>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- ! Main -->
            <main class="main users chart-page" id="skip-target">
                <div class="container">
                    <h2 class="main-title">Estatisticas</h2>
                    <div class="row stat-cards">
                        <div class="col-md-6 col-xl-3">
                            <article class="stat-cards-item">
                                <div class="stat-cards-icon primary">
                                    <i data-feather="bar-chart-2" aria-hidden="true"></i>
                                </div>
                                <div class="stat-cards-info">
                                    <p class="stat-cards-info__num">Entregas diarias</p>
                                    <p class="stat-cards-info__title">Total: 37</p>

                                </div>
                            </article>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <article class="stat-cards-item">
                                <div class="stat-cards-icon purple">
                                    <i data-feather="file" aria-hidden="true"></i>
                                </div>
                                <div class="stat-cards-info">
                                    <p class="stat-cards-info__num">Entregas Mensais</p>
                                    <p class="stat-cards-info__title">Total: 270</p>

                                </div>
                            </article>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <article class="stat-cards-item">
                                <div class="stat-cards-icon purple">
                                    <i data-feather="file" aria-hidden="true"></i>
                                </div>
                                <div class="stat-cards-info">
                                    <p class="stat-cards-info__num">Entregas Total</p>
                                    <p class="stat-cards-info__title">Total: 444</p>

                                </div>
                            </article>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <article class="stat-cards-item">
                                <div class="stat-cards-icon success">
                                    <i data-feather="feather" aria-hidden="true"></i>
                                </div>
                                <div class="stat-cards-info">
                                    <p class="stat-cards-info__num">Receita</p>
                                    <p class="stat-cards-info__title">Total: R$ 1.635,00 </p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-6">
                            <div class="users-table table-wrapper" style="border: 0px solid #FFF;border-radius: 10px;padding: 0px;max-width: 100%;">
                                @RenderBody()
                                @RenderSection("script", required: false)
                            </div>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </main>
            <!-- ! Footer -->
            <footer class="footer">
                <div class="container footer--flex">
                    <div class="footer-start">
                        <p>
                            2023 ©EntregaRapida -
                        </p>
                    </div>
                    <ul class="footer-end">
                        <li><a href="##">-</a></li>
                        <li><a href="##">-</a></li>
                        <li><a href="##">-</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
    <!-- Chart library -->
    <script src="~/LayoutLojista/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="~/LayoutLojista/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/LayoutLojista/js/script.js"></script>


</body>
</html>
