@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> Usermaneger;

@if (User.Identity.IsAuthenticated)
{
     
    <form  asp-controller="Login" asp-action="Logout" method="post" class="navbar-left">
        <div class="d-flex align-items-center justify-content-center">
            <ul class="nav navbar-nav navbar-left">
                <button type="submit" style="color:black;font-size:20px" class=" nav-link btn btn-link py-0  col-sm-auto">
                    Desconectar
                </button>
            </ul>
        </div>
     </form>
}

