@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> Usermaneger;

@if (User.Identity.IsAuthenticated)
{
     
    <form  asp-controller="Login" asp-action="Logout" method="post" class="navbar-left">
        <ul class ="nav navbar-nav navbar-lef">
            <button type="submit" style="color:black; font-size:20px" class="nav-link btn btn-link py-0" >
                    Desconectar
            </button>
        </ul>
     </form>
}

